:root {
    --background-color: #fafafa;
    --border-color: #cacaca;
    --text-color: #222;
    --size-sm: 4px;
    --size-md: 8px;
    --size-lg: 12px;
    --size-xl: 16px;
}
html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", "Arial", sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-grow {
    flex: 1;
}
.align-center {
    align-items: center;
}
/* header related */
header {
    border-bottom: 1px solid var(--border-color);
    padding-left: var(--size-md);
    padding-right: var(--size-md);
}
header > div {
    margin: 0 auto;
    max-width: 1200px;
    height: 48px;
}
header .title {
    font-size: var(--size-xl);
    text-decoration: none;
}
